<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/partials/partials :: head}" >
    <title>Edit Posts</title>
</head>
<body class="d-flex flex-column">
<!--<header th:replace="/partials/partials :: header"></header>-->
<nav class="pb-3" th:replace="~{/partials/partials :: navbar}" ></nav>


<div class="container d-flex flex-grow-1 justify-content-center align-items-center">
    <div class="card shadow edit-card" style="">
        <div class="card-body d-flex flex-column">

            <div class="alert alert-danger" th:if="${errMsg}">
                Something bad happened!
            </div>

            <h1 class="">
                Post deleted
            </h1>

        </div>
    </div>
</div>
<footer class="" th:replace="~{/partials/partials :: footer}"></footer>
</body>
</html>