<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/partials/partials :: head" >
    <title>Show Posts</title>
</head>
<body class="p-3">
<!--    <header th:replace="/partials/partials :: header"></header>-->
    <nav class="pb-3" th:replace="/partials/partials :: navbar" ></nav>

    <div class="alert alert-danger" th:if="${errMsg}">
        Something bad happened!
    </div>

    <div class="w-50 blog-header-container justify-content-center">
        <div>
            <div class="blog-article header-article">
                <h2 class="blog-big__title" th:text="${post.title}">(insert post title)</h2>
                <div class="blog-menu small-title date" th:text="${post.date}"></div>
                <div class="blog-detail">
                    (<span th:text="${post.user.email}"></span>)
                </div>
            </div>
            <div class="blog-article">
                <p class="" th:text="${post.body}">(insert post body)</p>
            </div>
        </div>
    </div>
    <footer class="" th:replace="/partials/partials :: footer"></footer>
</body>
</html>