<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="/partials/partials :: head" >
    <title>Show Posts</title>
</head>
<body class="p-3">
    <header th:insert="/partials/partials :: header"></header>
    <nav class="pb-3" th:insert="/partials/partials :: navbar" ></nav>

<!--    <h1 th:if="${posts.size() > 0}"><span th:text="${posts.}">(insert posts here)</span></h1>-->

    <div class="alert alert-danger" th:if="${errMsg}">
        Something bad happened!
    </div>

    <div class="row blog-header-container">
        <div class="col-6 blog-header pb-2" th:each="post : ${posts}">
            <div class="blog-article header-article">
                <h2 class="blog-big__title" th:text="${post.title}">(insert post title)</h2>
                <div class="blog-menu small-title date" th:text="${post.date}"></div>
            </div>
            <div class="blog-article">
<!--                <img src="https://images.unsplash.com/photo-1496629062893-b0f566065d44?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjV8fGJsYWNrJTIwYW5kJTIwd2hpdGV8ZW58MHwwfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">-->
                <div class="blog-detail">
                    <span th:text="${post.author}"></span>
                </div>
                <p class="" th:text="${post.body}">(insert post body)</p>
                <a class="f-2 text-dark" href="/roll-dice">Read more...</a>
<!--                <a href="#">-->
<!--                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-corner-down-right" viewBox="0 0 24 24">-->
<!--                        <path d="M15 10l5 5-5 5" />-->
<!--                        <path d="M4 4v7a4 4 0 004 4h12" />-->
<!--                    </svg>-->
<!--                    See More-->
<!--                </a>-->
            </div>
        </div>
        <footer class="footer-dark p-3" th:insert="/partials/partials :: footer"></footer>
</body>
</html>