<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/partials/partials :: head" >
    <title>Sign up</title>
    <title>Log In</title>
</head>
<body class="d-flex flex-column">
<!--<header th:replace="/partials/partials :: header"></header>-->
<nav class="pb-3" th:replace="/partials/partials :: navbar" ></nav>

<div class="container d-flex flex-grow-1 justify-content-center align-items-center">
    <div class="card shadow" style="">
        <div class="card-body d-flex flex-column">
            <h1>Log In</h1>
            <div th:if="${param.error}">
                Invalid Username and Password.
            </div>
            <div th:if="${param.logout}">
                You have been logged out.
            </div>

            <form class="d-flex flex-column" th:action="@{/login}" method="post">
                <label for="username">Username</label>
                <input id="username" name="username" type="text" value="kenzi"/>
                <label class="pt-3" for="password">Password</label>
                <input id="password" name="password" type="password" value="kpw"/>
                <input class="mt-3 btn btn-outline-secondary me-auto"type="submit" value="Log In" />
            </form>
        </div>
    </div>
</div>
<footer class="" th:replace="/partials/partials :: footer"></footer>
</body>
</html>