body,html {
    margin: 0;
    font: bold 14px/1.4 'Open Sans', arial, sans-serif;
    /*background: #000;*/
}
body {
    height: 100vh;
    position: relative;
}
.navbar-collapse ul {
    /*margin: 150px auto 0;*/
    padding: 0;
    list-style: none;
    display: table;
    width: 600px;
    text-align: center;
}
.navbar-collapse li {
    display: table-cell;
    position: relative;
    padding: 15px 0;
}
.navbar-collapse a {
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;

    display: inline-block;
    padding: 15px 20px;
    position: relative;
}
.navbar-collapse a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #000000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.navbar-collapse a:hover:after {
    width: 100%;
    left: 0;
}
@media screen and (max-height: 300px) {
    ul {
        margin-top: 40px;
    }
}

/*.post-container {*/
/*    display: grid;*/
/*    gap: 1.5rem;*/
/*    grid-template-columns: repeat(2, 1fr);*/
/*}*/


.footer-dark {
    /*top: auto;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*margin-top: auto;*/
    position: relative;
    /*padding:50px 0;*/
    color:#f0f9ff;
    background-color:#282d32;
}

.footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
}

.footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
}

.footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
}

.footer-dark ul a:hover {
    opacity:0.8;
}

@media (max-width:767px) {
    .footer-dark .item:not(.social) {
        text-align:center;
        padding-bottom:20px;
    }
}

.footer-dark .item.text {
    /*margin-bottom:36px;*/
}

@media (max-width:767px) {
    .footer-dark .item.text {
        margin-bottom:0;
    }
}

.footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
}

.footer-dark .item.social {
    text-align:center;
}

@media (max-width:991px) {
    .footer-dark .item.social {
        text-align:center;
        margin-top:20px;
    }
}

.footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
}

.footer-dark .item.social > a:hover {
    opacity:0.9;
}

.footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
}

.dice {
    font-size: 2rem;
}