<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="/partials/partials :: head" >
    <title>Dogs</title>
</head>
<body class="p-3">
<header th:insert="/partials/partials :: header"></header>
<nav class="pb-3" th:insert="/partials/partials :: navbar" ></nav>

<!--    <h1 th:if="${posts.size() > 0}"><span th:text="${posts.}">(insert posts here)</span></h1>-->

<div class="alert alert-danger" th:if="${errMsg}">
    Something bad happened!
</div>
<h1>Dogs:</h1>

<h1 th:if="${dogs.size() > 0}"><span th:text="${dogs}">(insert dogs here)</span></h1>

<div class="blog-header-container">
    <ul th:each="dog : ${dogs}">
        <li th:text="${dog.name}" >(insert dog name here)</li>
    </ul>

</div>
<footer class="" th:insert="/partials/partials :: footer"></footer>
</body>
</html>