<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/partials/partials :: head" >
    <title>Dogs</title>
</head>
<body class="d-flex flex-column">
<!--<header th:replace="/partials/partials :: header"></header>-->
<nav class="pb-3" th:replace="/partials/partials :: navbar" ></nav>

<!--    <h1 th:if="${posts.size() > 0}"><span th:text="${posts.}">(insert posts here)</span></h1>-->

<div class="alert alert-danger flex-grow-1" th:if="${errMsg}">
    Something bad happened!
</div>
<div class="flex-grow-1">
    <h1>Dogs:</h1>

    <h1 th:if="${dogs.size() > 0}"><span th:text="${dogs}">(insert dogs here)</span></h1>

    <div class="blog-header-container">
        <ul th:each="dog : ${dogs}">
            <li th:text="${dog.name}" >(insert dog name here)</li>
        </ul>
    </div>
</div>
<footer class="" th:replace="/partials/partials :: footer"></footer>
</body>
</html>