<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/partials/partials :: head" >
    <title>Show Posts</title>
</head>
<body class="p-3">
<!--<header th:replace="/partials/partials :: header"></header>-->
<nav class="pb-3" th:replace="/partials/partials :: navbar" ></nav>

<!--    <h1 th:if="${posts.size() > 0}"><span th:text="${posts.}">(insert posts here)</span></h1>-->

<div class="alert alert-danger" th:if="${errMsg}">
    Something bad happened!
</div>

<div class="blog-header-container">
    <h1 th:if="${answer == n}">
        Huzzah!
    </h1>
    <h1 th:if="${answer != n}">
        Boo!
    </h1>
    <p>You guessed <span th:text="${n}">(guess)</span></p>
    <p>The answer was <span th:text="${answer}">(answer)</span></p>

</div>
<footer class="" th:replace="/partials/partials :: footer"></footer>
</body>
</html>