<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/partials/partials :: head" >
    <title>Show Posts</title>
</head>
<body class="p-3">
<!--<header th:replace="/partials/partials :: header"></header>-->
<nav class="pb-3" th:replace="/partials/partials :: navbar" ></nav>

<!--    <h1 th:if="${posts.size() > 0}"><span th:text="${posts.}">(insert posts here)</span></h1>-->

<div class="alert alert-danger" th:if="${errMsg}">
    Something bad happened!
</div>

<div class="blog-header-container">
    <h1>Guess a number from 1 to 6</h1>

    <div class="row container-fluid">
        <a class="dice col-4 mt-5 text-dark justify-content-center" href="roll-dice/1">1</a>
        <a class="dice col-4 mt-5 text-dark justify-content-center" href="roll-dice/2">2</a>
        <a class="dice col-4 mt-5 text-dark justify-content-center" href="roll-dice/3">3</a>
        <a class="dice col-4 mt-5 text-dark justify-content-center" href="roll-dice/4">4</a>
        <a class="dice col-4 mt-5 text-dark justify-content-center" href="roll-dice/5">5</a>
        <a class="dice col-4 mt-5 text-dark justify-content-center" href="roll-dice/6">6</a>
    </div>

</div>
<footer class="" th:replace="/partials/partials :: footer"></footer>
</body>
</html>