<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Dice Roll</title>
</head>
<body>

<h1>Guess a number from 1 to 6</h1>
<!--<h1 th:text="you guessed ${n}"></h1>-->
<!--<h1 th:text="roll ${diceRoll}"></h1>-->

<form action="/roll-dice" method="post">
<!--    <input type="text" name="cohort" id="cohort-ip" class="field" />-->
<!--    <button>Join now</button>-->
    <a href="roll-dice/1">1</a>
    <a href="roll-dice/2">2</a>
    <a href="roll-dice/3">3</a>
    <a href="roll-dice/4">4</a>
    <a href="roll-dice/5">5</a>
    <a href="roll-dice/6">6</a>
</form>

</body>
</html>
