<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="/partials/partials :: head" >
    <title>Roll Dice</title>
</head>
<body class="m-2">

<h1>Guess a number from 1 to 6</h1>

<h1 th:if="${answer == n}">
<!--    <p>guess</p>-->
<!--    guess-->
    <span th:text="${n}">(guess)</span>
<!--    <span> is equal to </span>-->
<!--    answer-->
<!--    <p>answer</p>-->
    <span th:text="${answer}">(answer)</span>
</h1>
<!--<h1 th:if="${answer != n}">-->
<!--&lt;!&ndash;    <p>guess</p>&ndash;&gt;-->
<!--    <span th:text="${n}"></span>-->
<!--    &lt;!&ndash;    <span> is equal to </span>&ndash;&gt;-->
<!--&lt;!&ndash;    <p>answer</p>&ndash;&gt;-->
<!--    <span th:text="${answer}"></span>-->
<!--</h1>-->

    <a href="roll-dice/1">1</a>
    <a href="roll-dice/2">2</a>
    <a href="roll-dice/3">3</a>
    <a href="roll-dice/4">4</a>
    <a href="roll-dice/5">5</a>
    <a href="roll-dice/6">6</a>

</body>
</html>
